<div class="row">  
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><%= article.title %></h4>
      <p class="blockquote-footer">
        Submitted <%= time_ago_in_words(article.created_at) %> ago by <%= link_to article.user.email,"/articles/user/#{article.user.id}" %> | 
        <%= article.impressionist_count %> views 
      </p>
      <p class="text-justify"><%= @markdown.render(render_with_hashtags(article.body)).html_safe %></p>          
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-6">
          <%= link_to "#{article.comments.count} comments", article %>
        </div>
        <% if user_signed_in? && (current_user == article.user || current_user.email == "levantien83@gmail.com") %>
          <div class="col-md-6" align="right">
            <%= link_to 'Edit', edit_article_path(article) %> |
            <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
