
<div class="container">
  <br>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><%= @article.title %></h4>
      <p class="date">Submitted <%= time_ago_in_words(@article.created_at) %> ago | 
        <%= @article.impressionist_count %> views 
      </p>
      <p class="card-text"><%= @markdown.render(@article.body).html_safe %></p>          
    </div>
    <div class="card-footer">
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <div class="fb-comments" data-href= "%#{article_path(@article)}%" data-numposts="5"></div>
  <%= link_to 'Back', articles_path %>
</div>
