<!DOCTYPE html>
<html>
	<head>
	  <title>Valentine's Blog</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<header class="navbar navbar-light navbar-static-top bd-navbar bg-faded" role="banner"> 
			<div class="clearfix">
				<button class="navbar-toggler pull-xs-right hidden-sm-up collapsed" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-expanded="false">
					☰
				</button>
				<a class="navbar-brand hidden-sm-up" href="/">
					Valentine's blog
				</a>
			</div>
			<div class="navbar-toggleable-xs collapse" id="bd-main-nav" aria-expanded="false" style="height: 0px;">
				<nav class="nav navbar-nav">
					<a class="navbar-brand" href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', '/');">Valentine's blog</a>
					<a class="nav-item nav-link active" href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Home');">Home</a>
					<a class="nav-item nav-link " href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'About');">About</a>					
					<a class="nav-item nav-link" href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Login');">Login</a>
					<a class="nav-item nav-link" href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Logout');">Logout</a>

				
					<div class="nav navbar-nav" align="right">
						<form class="form-inline">
							<div class="form-group">				  	
							  	<%= form_tag articles_path, :method => 'get' do %>
								<%= text_field_tag :search, params[:search], class: 'form-control form-control-sm' %>
								<%= submit_tag "Search", class: 'btn btn-primary btn-sm' %>
								<% end %>
							</div>
						</form>
					</div>
				</nav>
			</div>
		</header>
		
			
		<%= yield %>

		<div class="container">
			<ul class="pager">    			   			
				<li class="pager-next"><a href="#">GitHub</a></li>
				<li class="pager-next"><a href="#">Twitter</a></li>    			
				<li class="pager-next"><a href="#">Facebook</a></li>
				<li class="pager-next"><a href="#">About</a></li>     			
	  		</ul>
		</div>
	</body>
</html>
